In [1]:
import pandas as pd

In [4]:
genome_tracker = pd.read_csv("gene_tracker.tsv", header=0, sep='\t')
f_old = 1.0

In [7]:
genome_tracker['value'].values[12] = f_old

In [8]:
genome_tracker['value'].values[12]

1.0

In [9]:
genome_tracker

        species  start   stop  new_strength  previous_strength  value
0         geneX   26.0  121.0           NaN                NaN    NaN
1         geneY  159.0  280.0           NaN                NaN    NaN
2         geneZ  319.0  449.0           NaN                NaN    NaN
3     promoter1    1.0   10.0           0.0                0.0    NaN
4     promoter2    0.0    0.0           0.0                0.0    NaN
5     promoter3    0.0    0.0           0.0                0.0    NaN
6        rnase1    0.0    0.0           NaN                NaN    NaN
7        rnase2    0.0    0.0           NaN                NaN    NaN
8        rnase3    0.0    0.0           NaN                NaN    NaN
9   terminator1    0.0    0.0           0.0                0.0    NaN
10  terminator2    0.0    0.0           0.0                0.0    NaN
11  terminator3    0.0    0.0           0.0                0.0    NaN
12        f_old    NaN    NaN           NaN                NaN    1.0
13        f_new    NaN    NaN           NaN                NaN    0.0
14      region1   11.0   25.0           NaN                NaN    NaN
15     region2a  122.0  132.0           NaN                NaN    NaN
16     region2b  133.0  143.0           NaN                NaN    NaN
17     region2c  144.0  159.0           NaN                NaN    NaN
18     region3a  281.0  291.0           NaN                NaN    NaN
19     region3b  292.0  302.0           NaN                NaN    NaN
20     region3c  303.0  318.0           NaN                NaN    NaN